
@media (max-width:768px) {
  @media only screen and (min-width: 0px) {
    
    .containerauto{
      width: 650px;
      padding: 20px;

    }
    .radius{
      width: 580px;
    }
    .loveanimals{
      width: 1240px;
    }
  }
  @media only screen and (min-width: 0px) {
  .banner-img{
    width: 1240px;
  }
}

    .header .navlogo {
      display: flex;
      justify-content: left; } }
  .header .navlogo .navlogo {
    color: #FFFFFF; }
    .header .navlogo .logo .logoNombre {
      font-weight: 400; }
      .header .navlogo .logo .logoNombre:hover {
        color: #FFFFFF; }
    .header .navlogo .navlogo .bold {
      font-weight: bold; }
.header{
  text-align: center;
  color: #FFFFFF;
  margin-top: 20rem; }

  @media (max-width: 768px){
  ul{
      flex-direction: column;
      text-align: center;
      padding: 0 5rem;
      font-size: 2.5rem;
  }
}

@media (max-width:768px) {
  footer{
    width: 1240px;
      .none {
        display: none;
        .row{
          display: block;
        }
      }
    }
  }


  @media only screen and (max-width: 480px) {
    .loveanimals{
      width: 1240px;
    }
  }
    
